
body{
    margin: 0 auto;
    height: 100%;
    

    font-family: 'Nunito Sans', sans-serif;


}

main{
    padding-bottom: 2.5rem;
    
    margin: 0 auto;
   
}



:root {
    background-image: url(img/books.jpeg);
    background-size: cover;
    box-sizing: border-box;  
}

section {
    background-color: white;
    font-weight: 800;
    font-size: 60px;
    margin: 90px auto;

    opacity: 0.8;
    text-align: center;
    width: 1200px;     
    
}

.team-info {



}




footer{
    bottom: 0;
    width: 100%;
   height: auto;
    background-color:  #ffff4d; 
    
}

.footer{
    width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    height: auto;
    display: flex;
    justify-content: space-between;
}



.icon-mail-alt,
.icon-facebook-rect,
.icon-instagram-filled{
    font-size: 30px;

}

.icons{
    display: flex;
    justify-content: space-between;
}

.bottom{
padding-bottom: 10px;
text-align: center;
}