html{
    scroll-behavior: smooth;
        }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #212121;  
}



.toTheTopButton {
    display: none; 
    position: fixed; 
    bottom: 10px; 
    right: 15px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #ff9800;
    color: white; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 50%; 
    font-size: 15px; 
  }
  
 .toTheTopButton:hover {
    background-color: #e91e63; 
  }

  
/* ADDING FOR 3D ORBIT ROTATE IN TEAM PHOTOS */


.socialRotate {
    transform: rotateY(180deg);

}

.mirror {
    position: relative;
    width: 100%;
    padding-top: 100%;
    max-width: 180px;
    transition: 2s;
    padding-left: 0;
    padding-right: 0;
    border-radius: 50%;
    overflow: hidden;
}


.one {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 1s;
    backface-visibility: hidden;
}

.two {
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 1s;
    grid-column-start: 0;
    grid-row-start: 0;
    backface-visibility: hidden;
     transform: rotateY(180deg);
}

.linkedinButton{
    background-image: url(img/lnkd1.png); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;    
}
.linkedinButton:hover{
    opacity: 0.8;

}
.githubButton{
    background-image: url(img/gh1.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;  
}
.githubButton:hover{
    opacity: 0.8;

}


section.hero{
    background-image: url(img/side-books\ \(copy\).jpg); 
    background-size: cover; 
    background-position-y: 40%;
    background-position-x: 70%; 
    background-repeat: no-repeat;

    font-weight: 800; 
    text-align: center;
    width: 100%; 
    overflow: hidden;
    position: relative;
}

section .hero { 
    padding: 6rem 1rem 3rem 1rem;
    display: none;
    background-size: cover; 
    background-position-y: 40%;
    background-position-x: 70%; 
    background-repeat: no-repeat;  
}

section .hero0 { 
    display: block;
    background-image: url(img/side-books.jpg);
}
section .hero1 { 
    background-image: url(img/b2.jpg);
}
section .hero2 { 
    background-image: url(img/b1.jpg);
}

.heroSliderContainer {
    height: 300%;
}

#heroSlider {
    height: 100%;
}

.hero {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}
  
    @-webkit-keyframes fade {
        from {opacity: .7} 
        to {opacity: 1}
    }
  
    @keyframes fade {
        from {opacity: .7} 
        to {opacity: 1}
    }
/* 
  .heroHOne {
    -webkit-animation-name: herocolorchange;
    -webkit-animation-duration: 3s;
    animation-name: herocolorchange;
    animation-duration: 3s;
  }

  @-webkit-keyframes herocolorchange {
    from {color: #212121;}
    to {color: #c2185b;}
  }
  
  @keyframes herocolorchange {
    from {color: #212121;}
    to {color: #c2185b;}
  }

  .heroHTwo {
    -webkit-animation-name: herocolorchange2;
    -webkit-animation-duration: 4s;
    animation-name: herocolorchange2;
    animation-duration: 4s;
  }

  @-webkit-keyframes herocolorchange2 {
    from {color: #c2185b;}
    to {color: #212121;}
  }
  
  @keyframes herocolorchange2 {
    from {color: #c2185b;}
    to {color: #212121;}
  } */

  /* .section__a--signup {
    -webkit-animation-name: herocolorchange3;
    -webkit-animation-duration: 3s;
    animation-name: herocolorchange3;
    animation-duration: 3s;
  }

  @-webkit-keyframes herocolorchange3 {
    from {background-color: #212121;}
    to {background-color: #c2185b;}
  }
  
  @keyframes herocolorchange3 {
    from {background-color: #212121;}
    to {background-color: #c2185b;}
  } */
  
.prev, .next {
    z-index: 1;
    cursor: crosshair;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #c2185b;
    font-weight: bold;
    font-size: 38px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    padding:20px;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    padding:20px;
  }
  
  .prev:hover {
    background-color: #212121;
  }

  .next:hover {
    background-color: #212121;
  }

/* .dots{
    position: relative;
    z-index: 3;
    width: 60%;
}

.dot{
    height: 25px;
    width: 25px;
    margin: 0 10px;
    background-color:  #c2185b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active, .dot:hover {
    background-color: black;
} */


.active{
    background: #f8bbd0;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #c2185b
}


.team-info{
    background: white;
    padding-top: 80px;
}

.active{
    background: pink;
}


.team-info h1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
   
}

.team-info-photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
    padding: 0;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 15px;
}


figure figcaption{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
} 

.emoji1{
    border-radius: 50%;
    width: 180px;
    max-width: 100%;
    height: auto;

}

 figcaption .lnkd-gh-icons{ 
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 30px;    
    justify-content: space-around;   
}

.newsletter-button{
    margin-top: 10px;
    color: white;
    background-color: #c2185b;
    border: none;
    padding: 10px 0;
    width: 50%;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

a{
    transition: all 0.3s ease 0s;
}

a:hover{
    transition: all 0.3s ease 0s;  
}

.our-team{
    font-weight: bold;
  
}

.gh{
    margin-left: 20px;
}

footer{
    background-color: #f8bbd0;
    padding-top: 30px;
    color: white;
    width: 100%;   
}

footer .footer-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
   
}

.logo-squish-footer {
width: 112px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

.sign-in-contact-input:focus{
    outline: none;
}

.contact-input:focus{
    outline: none;
}

.message-input:focus{
    outline: none;
}

.footer-bottom-copyright{

    margin: 0;
    font-size: 0.7rem;
}


.terms-of-service{
    margin-top: 10px;
    background-color: #c2185b;
    border: 3px solid black;
}


.terms-of-service-link{
    color: #c2185b;
    text-decoration: none;
}

@media all and (max-width: 599px) {

    #functionality {

        margin: 20px 10px;
        
    }
    
    
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8 auto);
        grid-row-gap: 5px;
        perspective: 3000px;  
        padding-top: 20px;
    }
    .terms {
    max-width: 90%;
    margin-top: 10vh;
}

#formCalculator {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;

}
#calculator {
    width: 100%;
}
.innerCalculator {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;

}



    .sign-in-contact-input::placeholder{
        font-family:'Sanchez', arial, sans-serif;
        font-size: 30px;
        color: black;
        }
    .message-input::placeholder{
        font-family:'Sanchez', arial, sans-serif;
        font-size: 15px;
        color: black;
      }

      .contact-input::placeholder{
        font-family:'Sanchez', arial, sans-serif;
        font-size: 15px;
        color: black;
      }
    
      textarea::placeholder{
        font-family:'Sanchez', arial, sans-serif;
        font-size: 15px;
        color: black;
      } 


    .footer-bottom-copyright{

        margin: 0;
        font-size: 0.7rem;
      }

 
    }
    
    

    .description p:first-child{
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 2px;
       
    }
    .description p:nth-child(2){
        font-size: 16px;
        font-weight: 400;
        text-align: justify;

    }

    div.flex {
        display: flex;
        /* background-color: #f5bbd0; */
        border-radius: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
        justify-content: space-between;
        border: 1px solid black;
    }
    
    .flex .img {
        flex-basis: 25%;
        width: 100%;
        padding: 10px;
    }
    .flex div.description {
        flex-basis: 70%;
    }
    }


    .facelogo, .instalogo{
        width: 40px;
        height: 40px;
    }

    .h2-footer-right{
        color:   #262626;
        margin-bottom: 15px;
    }

    .inputs{
        display: flex;
        flex-direction: column;
    }

    .hero {
        display: flex; 
        flex-direction: column-reverse;
        justify-content: center; 
        align-items: center;
        width: 100%;
        background-color: white;
        height: 100vh; 
    }

    .text {
        width: 100%;
        height:80%; 
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background: rgba(250, 247, 247, 0.6); border-radius: 30px;
    }

    .text h1 {
        align-self: center;
        letter-spacing: 1px; 
        color: #c2185b;
        font-size: 2.1rem;
        padding-bottom: 1.8rem; 
   }

   .text h2 {
        align-self: center;
        letter-spacing: 1px;
        color: black;
        margin-bottom: 0.8rem;
        font-size: 1.5rem;   
    }

    .text h3 {
        align-self: flex-start;
        align-self: center;
        color: white;
    }

    .image-hero {
        width: 100%;
        margin-bottom: 2rem;
        justify-content: center;
        z-index: 1;
        background: rgba(250, 247, 247, 0.6); border-radius: 30px;
    }

    .image-hero img {
        height: 80%;
        width: 80%;
        max-height: 450px;
        max-width: 450px;  
    }

    .section__a--signup {
        text-decoration: none;
        align-self: center;
        font-size: 1.4rem;
        color: white;
        background-color: #c2185b;
        border-radius: 20px;
        padding: 0.5rem;
        margin-top: 2rem;
    }

    .section__a--signup:hover {
        background-color: #FF9800;
        color: black;
        transition: 0.15s;
    }

    .nav {
        display: flex;
        position: fixed;
        justify-content: space-between;
        z-index: 1; 
        background-color:  white;
        width: 100%; 
        min-height: 68px; 
        text-align: center;
        box-shadow: 0px 1px 10px;
        z-index: 3;
    }

    .HowItWorks {
        display: flex;
        padding-top: 30px;
        font-size: 20px;
        flex-direction: column;
        background-color:white;
        min-height: 50px;  
        justify-content: center;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    } 

    .hiw-title {
        text-align: center;
        font-size: 2em;
        padding-top: 80px;
    }

    .HowItWorksDownload, .HowItWorksPreferences, .HowItWorksBooks, .HowItWorksExchange {
        display: flex;
        flex-direction: column;

        padding: 2%;
        width: 100%;
        margin-top: 10px;
    }

    .DownloadIcon, .PreferencesIcon, .BooksIcon, .ExchangeIcon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
    }

    .DownloadIcon img{
        max-width: 100%;
    }

    .as {
        flex-basis: 70%;
    }

    .nav__a--logo{
    display: none;
    }


    .nav__a--logo img{
        max-width: 100%;
        max-height: 100%;
        width: 60px;
        }

    .nav__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        padding-left:0px;
        padding-right:10px;
        width: 100%;        
    }

    input, textarea{
        background: #f8bbd0;
        color: black;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid   #c2185b;
    }

    .contact-input{
        margin-bottom: 10px;
        height: 30px;
    }

    .message-input{
        margin-bottom: 5px;
        height: 90px;
    }

    input::placeholder{
        font-family:'Sanchez', arial, sans-serif;
        font-size: 15px;
    }

    textarea::placeholder{
        font-family:'Sanchez', arial, sans-serif;
        font-size: 15px;
    }

    .footer-button{
        background:  #c2185b;
        font-family:'Sanchez', arial, sans-serif;
        color: white;
        width: 50%;
        cursor: pointer;
        border: none;
        border-radius: 20px;
        padding: 5px;
        font-size: 15px;
    }

    .footer-button:hover{
        background-color:#ff9800;
        color: black;
        transition: all 0.3s ease 0s;

    }

    footer .footer-bottom{
        text-align: center;
        background:   #757575;
        margin: 0 auto;
        color: #F8BBD0;
    }

    
    .footer-bottom-copyright{

        margin: 0px;
        font-size: 0.8rem; 
    }


    .nav__menu a {
        text-decoration: none;
        color: black;
        text-decoration: none;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }

    .nav__menu a:hover {
        color: black;
        text-decoration: underline;
    }

    nav .nav__a--signup {
        background-color:#c2185b;
        color: white;
        text-decoration: none;
        padding: 0 0.5rem 0 0.5rem;
        border-radius: 20px;
        padding-bottom: 3px; 
    }

    .nav__a--signup:hover {
        background-color: #c2185b;
        color: #c2185b;  
        
    }


    .emoji1{
    height: auto;
    }


    .footer-right{
        display: none;
    }

    .newsletter-form{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    form{
        margin: 10px;
    }

    .sign-in{
        margin: 30px 0;
        display: flex;
        flex-direction: column;
    
    }

    .sign-in-text{
        font-size: 30px;
        margin: 30px 0;
    }

    .sign-in-contact-input{
        border-bottom: 3px solid #c2185b;
        background: #F8BBD0;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        width: 100%;
        height: 75px;
        margin-top: 10px;
        font-size: 2rem;
    }

    .sign-in-contact-input:focus{
        outline: none;
        color: black;
        font-size: 2rem;
    }




@media (min-width: 600px){
.nav {
    padding-right: 40px;
    padding-left: 40px;
    justify-content: space-between;
}

.nav__a--logo  {
    /* width: 35%; */
    display: initial;
    align-self: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    }


    .image-hero {
        width: 60%;
        justify-content: center;
        height:auto;
    }

    .heroSliderContainer {
        padding-left: 17.5%;
        justify-content: center;
    }

    /* #heroSlider {
        padding-left: 17.5%;
        justify-content: center;
    } */
    
    .nav__a--logo img{
        max-width: 100%;
        max-height: 100%;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        width: 60px;             
    }
    
    #bookswap-text {
        max-height: 50px;
        width: 140px;
    }

    .nav__menu {
                    display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .text {
        margin-top: 3rem;
        width: 60%;
        height: 75%;
        padding-bottom: 3rem;
    }

    .text h1 {
        padding-bottom: 0.5rem;
        color: #c2185b;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 3.6rem;
    }

    .text h2 {
        font-size: 2.0rem;
    }

    .section__a--signup {
    margin-top: 1rem;       
    }

    .text h3 {
        font-size: 1.8rem;
        padding: 0 2rem 0 2rem;
    }

   .hero {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        padding-top: 3.5rem;
        height: 100vh;
   }


.HowItWorks {
    flex-direction: row;
    font-size: 23px;
    justify-content: space-between;
    margin: 0 40px 20px 40px;
}

.HowItWorksDownload, .HowItWorksPreferences, .HowItWorksBooks, .HowItWorksExchange {
    display: flex;
    flex-direction: column;
   
    padding: 2%;
    width: 22%;
    
}

.DownloadIcon, .PreferencesIcon, .BooksIcon, .ExchangeIcon {
    max-width: 100%;
}

.team-info-photos{
    flex-direction: row;
    margin: 30px 0;
}
   


.footer-right{
    display: block;
}



.newsletter-form{
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding-top: 50px;
    width: 50%;
    margin-right: 10px;
}

.news-form{
    margin: 10px;
    width: 100%;
}

.newsletter-button{
    margin-top: 10px;
    color: white;
    background-color: #c2185b;
    border: none;
    padding: 10px 0;
    width: 50%;
    border-radius: 20px;
    font-size: 25px;
}


.newsletter-button:hover{
    
    background-color:#FF9800;
    color: black;
    transition: all 0.3s ease 0s;
    
}


.sign-in-contact-input::placeholder {
    font-family:'Sanchez', arial, sans-serif;
    font-size: 30px;
    color: black;
}
.message-input::placeholder {
    font-family:'Sanchez', arial, sans-serif;
    font-size: 15px;
    color: black;
  }

  .contact-input::placeholder{
    font-family:'Sanchez', arial, sans-serif;
    font-size: 15px;
    color: black;

  }

  textarea::placeholder{
    font-family:'Sanchez', arial, sans-serif;
    font-size: 15px;
    color: black;
  }
  
  #functionality {
        
    margin: 0 40px;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 15px;
    grid-column-gap: 30px;
}

.description{
    padding: 10px 2px 2px 5px;

}
.description p{
   
    padding: 5px 10px;
}

.description p:first-child{
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
   
}
.description p:nth-child(2){
    font-size: 16px;
    font-weight: 400;
    text-align: justify;

}

div.flex {
    display: flex;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-between;
    border: 1px solid black;
    
}

.flex .img {
    flex-basis: 25%;
    width: 100%;
    padding: 10px;

}
.flex div.description {
    flex-basis: 70%;
}
#functionality {

    margin: 20px 40px;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 5%;
    grid-row-gap: 8px;
    perspective: 3000px;  
    padding-top: 20px;

}
.terms {
    min-width: 500px;
    max-width: 33%;
    margin-top: 20vh;

  }

  #formCalculator {
    display: flex;
  }

  #calculator {
    width: 50%;
  }

  .innerCalculator {

    width: 80%;
  }
}



.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "card";
    transform-style: preserve-3d; 
    transition: 1s all ease-in-out;
}

.front,
.back {     
      
    backface-visibility: hidden;
    border-radius: 20px;
    display: flex;
    grid-area: card;

}

.front {
    
    box-shadow: 0px 0px 15px 5px rgba(245, 187, 208, 1);
    border: 2px solid #c4395c;
    
    
    
}


.front .photo {
    max-width: 20%;

   
}
.back .photo {
   max-width: 10%;
}


.back .photo,
.front .photo {
   min-width: 80px;    
   align-self: center;
   justify-self: center;
   padding: 10px;

}

.front img,
.back img {
   width: 100%;
}

.front > p, 
.back > p {
    
    align-self: center;
    justify-self: center;
    padding: 5px 10px;
    
    
    
 
}
.front > p {
    font-size: 30px;
    
    letter-spacing: 2px;

}
.back > p {
    font-size: 20px;
    color: white;
    text-align: justify;
    font-weight: 700px;
    letter-spacing: 1px;


}
.back {
    display: flex;
    background-color: #f5bbd0;
    transform: rotateX(180deg);
    
   
}
.turnAround {
    
    transform: rotateX(180deg);
}
.container div.card div.front:hover {
    cursor: pointer;
    color: grey;
    text-shadow: 2px 2px 2px grey;
    box-shadow: 0px 0px 30px 5px rgba(215,207,184,1);
    border: 1px solid lightgray;
    opacity: 0.7;
}
.container div.card div.back:hover {
    cursor: pointer;
   

}
#functionality > p {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px 15px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 2;
    width: 100%;
    bottom: 0%;
}
.modal-content {
    background-color: #fefefe;
    position: absolute;
    bottom: 0%;
    margin-right: auto;
    margin-left: auto; 
    padding: 10px;
    border: 1px solid #888;
}
  
.ModalButtons {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    justify-content: center;
    padding-top: 5px;
}

.ModalButtons > button {

    height: 30px;
    border-radius: 10px;
    background-color: #c2185b;
    width: 100px;
    color:white;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.fadeIn {
    animation: FadeIn 1.5s;
    
}

@keyframes FadeIn {

    from { 
        opacity: 0;
        
    }

    to {
        opacity: 1;
        
    }
}

.fadeInTop { 
    animation: fadeInTop 2s;
 }
@keyframes fadeInTop {
    from { opacity: 0; }
    to { opacity: 1 }
}

.modal1 {
    animation: fadeInTop 1.5s;
    display: none; 
    position: fixed; 
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 

  }

.terms {
    display: none;
    background-color: #fefefe;
    margin-right: auto;
    margin-left: auto; 
    padding: 20px;
    border: 1px solid #888;
}
.termsShowUp { 
    z-index: 3;
    animation: terms 1s;
 }
@keyframes terms {
    from {
        transform: perspective(600px) translate3d(0, -60px, -2000px) rotateY(75deg);
        opacity: 0;
    }
    5% { transform: perspective(600px) translate3d(0, -60px, -1500px) rotateY(75deg) }
}

.accepted { 
animation: accepted 2s;
}

@keyframes accepted {
    95% { transform: perspective(600px) translate3d(0, -60px, -1500px) rotateY(75deg) }
        to {
        transform: perspective(600px) translate3d(0, -60px, -2000px) rotateY(75deg);
        opacity: 0;
    }
}

.accepted1 { 
    animation: accepted1 2s;
    }
    
    @keyframes accepted1 {
        from { opacity: 1; }
            to {
            
            opacity: 0;
        }
    }

.ModalButtons1 {
    display: flex;
    justify-content: center;
}
.ModalButtons1 > button {
    height: 40px;
    border-radius: 10px;
    background-color: #c2185b;
    width: 40%;
    color:white;
}
.link-to-cookies {
    color: #c2185b;
}
.cookiePolicy {
    text-align: center;

}
.cookiePolicy1 {
    text-align: justify;
}

#calculator {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#calc-slider {
    width: 75%;
    padding-top: 5px;
    padding-bottom: 5px;

}
.range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    background: linear-gradient(90deg, rgb(245, 187, 208)  50%, rgb(245, 187, 208) 50% );
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.3s;
    transition: opacity 0.3s;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px rgb(230, 234, 233);
    border-bottom: none;
}
.range-slider:hover {
    opacity: 1;
}
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #c4395c;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}
.range-slider::-moz-range-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    background: #c4395c;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}
#calc-slider p {
      padding-top: 5px;
      opacity: 0.8;
      font-size: 15px;
  }
.range-slider::-webkit-slider-thumb:hover {
    background: #fa992c;
}
.range-slider::-moz-range-thumb:hover {
  background: #fa992c;
}
.innerCalculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    font-size: 20px;
    -webkit-box-shadow: 0px 2px 25px -6px rgba(196,57,92,1);
    -moz-box-shadow: 0px 2px 25px -6px rgba(196,57,92,1);
    box-shadow: 0px 2px 25px -6px rgba(196,57,92,1);

}
#radio-selector > *{
    display: block;
}

#student,
#non-student {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    background: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.4s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  #student:checked,
  #non-student:checked {
    border: 4px solid rgb(245, 187, 208) ;
    background:  #c4395c;
  }
  
  #calc-descritpion p:first-child {
      font-size: 20px;
      text-align: center;
      font-weight: 800;
      padding: 10px 3px;
      
  }
  #calc-descritpion p:nth-child(2) {
      font-size: 14px;
      text-align: center;
      padding: 5px 3px;
  }
  label.radioRange {
      font-size: 16px;
  }
  #calc-amount {
      font-weight: 600;
      padding-bottom: 5px;
  }
  #monthPrice {
      font-weight: 600;
      
  }
  #promotion {
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 18px;
    background-color: #ffcb93;

  }
  #radio-selector {
      text-align: center;
      padding-top: 12px;
      padding-bottom: 20px;
      text-shadow: #757575;
  }