:root {
    /* background-image: url(books.jpeg);   background muted */
    /* background-size: cover; */
    /* background-repeat: repeat-y; */
    box-sizing: border-box;
    background-color: black;
}

section {
    background-color: white;
    border: 2px solid black;
    display: flex;
    /* flex-direction: column;   muted- come back when media query */
    justify-content: space-between;
    margin: 90px auto;
    /* opacity: 0.8; */              /*muted for better visibility while working */
    width: 100%;
    justify-content: space-around;
   
    

}
.features {
    
    border: 2px solid black;
    padding: 5px;
    margin: 5px 5px;
    border-radius: 20px;
    display: flex;

    
    

}
.box1 {
width: 45%

}

.box2 {

width: 45%;
}

img, p {
    
   /* display: inline; */
}

p {
    font-size: 40px;
}

.toChange {
    flex-direction: row-reverse;
}




/* section>* {
    
    font-size: 80px;
    border: 2px solid black;
    font-weight: 600;
                                this one here refers to fontello. Probably not needed anymore

} */