:root {
    background-image: url(books.jpeg);
    background-size: cover;
    background-repeat: repeat-y;
}

section {
    background-color: white;
    opacity: 0.8;
    width: 1000px;
    margin: 90px auto;

}