
.icon-book:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */